@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", "sans-serif";
}

body {
  background-color: #fff;
}

.app {
  h1 {
    text-align: center;
    padding: 30px;
    color: #5d100a;
  }

  .filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .employee-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .app {
    .filter-container {
      display: flex;
      flex-direction: column;
    }

    .employee-list {
      display: flex;
      flex-direction: column;
    }
  }
}
